<html>
<head>
</head>
<body>
	<h1>househuntr: find the house that actually meets your needs</h1>
	<h2>Search</h2>
	<form method="post">
	<% filters.each do |label, value| %>
		<p><%= label %>: <input type="text" value="<%= value %>" name="<%= label %>"/></p>
	<% end %>
		<select name="new_filter_type">
			<option value="filter_tram">Walking distance from NTU Tram</option>
			<option value="filter_m1">Driving distance from M1 at 8am on a weekday</option>
		</select> : <input type="text" name="new_filter_time"> minutes
		<p><input type="submit" value="Add filter"/></p>
	</form>

	<h2>Results</h2>

	<% if defined? properties %>
	<% properties.each do |property| %>
	 <%= property[:description] %> in <%= property[:postcode] %> for £<%=property[:price] %> and <%=property[:tram_walk_time] %> mins walk from trent tram stop<br />"
	<% end %>
	<% end %>



</body>
</html>